!!!

%html
  %head
    %script(type='text/javascript' src='//static.twilio..com/libs/twiliojs/1.1/twilio.min.js')
    %script(type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js')


  %body
    %h1 MAKING CALL TO #{number1} AND #{number2}
    %

