!!!
%html
  %head
    %title Hello Monkey 1
    %script(type='text/javascript' src='//static.twilio.com/libs/twiliojs/1.1/twilio.min.js')
    %script(type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery1.7.2/jquery.min.js')
    %link(href='//static0.twilio.com/packages/quickstart/client.css')
    %script(type='text/javascript')
    :javascript
        /* Create the Client with a Capability Token */
        Twilio.Device.setup("<%= token %>", {debug: true});

        /* Let us know when the client is ready. */
        Twilio.Device.ready(function (device) {
            $("#log").text("Ready");
        });

        /* Report any errors on the screen */
        Twilio.Device.error(function (error) {
            $("#log").text("Error: " + error.message);
        });

        Twilio.Device.connect(function (conn) {
            $("#log").text("Successfully established call");
        });

        /* Connect to Twilio when we call this function. */
        function call() {
            Twilio.Device.connect();
        }

  %body
    %button(class='call' onclick='call();') Call
    .log Loading pigeons
