.row
  .two.columns
    Enter two phone numbers and listen to the phone call they have.
  .ten.columns.centered
    %form(action='/call' method='POST')
      %input(type='text' placeholder='Enter 1st #' size='10' name='number1')
      %input(type='text' placeholder='Enter 2nd #' size='10' name='number2')
      %input(type='text' placeholder='Enter your #' size='10' name='number3')
      %input(type='submit' value='Call')
