!!!

%html
  %head
    %title PrankRoulette - Screw Over Businesses

  %body
    %h1 Call someone
    %form(action='/call' method='POST')
      %input(type='text' name='number1')
      %input(type='text' name='number2')
      %input(type='submit')
