!!! 5
%html
  %head
    %title PrankRoulette - Play Operator
    %meta{charset: 'utf-8'}/
    %meta{name: 'viewpoint', content: 'width=device-width, initial-scale=1, maximum-scale=1'}/

    %link{rel: 'stylesheet', href: '/stylesheets/app.css'}/
    %link{rel: 'stylesheet', href: '/stylesheets/foundation.css'}/
    %link{rel: 'stylesheet', href: '/stylesheets/foundation.min.css'}/

  %body
    .row
      %h1 PrankRoulette
      %hr
    =yield
