!!!

%html
  %head
    %title PrankRoulette - Screw over everyone!
  %body
    %form(action='/sms' method='POST')
      %input(type='text' name='number')
      %input(type='text' name='message')
      %input(type='submit')
